@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merienda+One|Droid+Sans");
@import url("padding.css");
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../scss/custom.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/custom.scss */
.clearfix::before, .clearfix::after {
  display: table;
  content: '';
}

/* line 11, ../scss/custom.scss */
.clearfix::after {
  clear: both;
}

/* line 20, ../scss/custom.scss */
body {
  background: #22313F;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Droid Sans", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

/* line 43, ../scss/custom.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  color: #a5a6a7;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 51, ../scss/custom.scss */
[class^="flaticon-"]:before:hover, [class*=" flaticon-"]:before:hover,
[class^="flaticon-"]:after:hover, [class*=" flaticon-"]:after:hover {
  color: #22313F;
}

/* line 56, ../scss/custom.scss */
.container {
  min-height: 100%;
}

/* line 60, ../scss/custom.scss */
.flaticon-mail-black-envelope-symbol:before {
  content: "\f102";
}

/* line 64, ../scss/custom.scss */
.flaticon-instagram-logo:before {
  content: "\f100";
}

/* line 68, ../scss/custom.scss */
.flaticon-linkedin-letters:before {
  content: "\f101";
}

/* line 72, ../scss/custom.scss */
.row {
  max-width: 75.000em;
}

/* line 76, ../scss/custom.scss */
p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* line 81, ../scss/custom.scss */
a {
  color: #22313F;
  text-decoration: none;
}

/* line 87, ../scss/custom.scss */
.modalBtn p, .button p, .mobBtn p {
  display: inline;
}

/* line 93, ../scss/custom.scss */
button:hover {
  background-color: rgba(255, 255, 255, 0);
}
/* line 96, ../scss/custom.scss */
button:active {
  background-color: rgba(255, 255, 255, 0);
}
/* line 99, ../scss/custom.scss */
button:focus {
  background-color: rgba(255, 255, 255, 0);
}

/* line 104, ../scss/custom.scss */
.dzsparallaxer:not(.mode-oneelement) > div.midNfo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
}

/* line 125, ../scss/custom.scss */
.headImg {
  height: 120%;
  width: 100%;
  background: url(../img/midbg_mob.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 134, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li {
  padding: 0 0.625rem 1rem;
}
/* line 136, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li:nth-of-type(odd) {
  padding: 0 0 1rem 0.625rem;
}
/* line 139, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li:nth-of-type(even) {
  padding: 0 0.625rem 1rem 0;
}
/* line 143, ../scss/custom.scss */
.mobGrid p {
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* line 150, ../scss/custom.scss */
.techGrid[class*="block-grid-"] > li {
  padding: 0 0.625rem 0;
}

/* line 154, ../scss/custom.scss */
footer {
  min-height: 500px;
}

/* line 158, ../scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  color: #dadada;
  font-family: "Merienda One", cursive;
}

/* line 167, ../scss/custom.scss */
blockquote {
  border-left: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 50px;
}
/* line 173, ../scss/custom.scss */
blockquote cite {
  font-size: 1.3rem;
  color: #a5a6a7;
  text-align: center;
}
/* line 178, ../scss/custom.scss */
blockquote p {
  text-align: center;
  margin-bottom: 0;
  color: #dadada;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}
/* line 186, ../scss/custom.scss */
blockquote p:before {
  color: #19242e;
  font-family: "Playfair Display", serif;
  content: open-quote;
  font-style: italic;
  font-size: 4em;
  line-height: 0;
  margin-right: 0.1em;
  vertical-align: -0.45em;
}
/* line 196, ../scss/custom.scss */
blockquote p:after {
  color: #19242e;
  font-family: "Playfair Display", serif;
  content: close-quote;
  font-size: 4em;
  font-style: italic;
  line-height: 0;
  vertical-align: -0.5em;
}

/* line 208, ../scss/custom.scss */
.modalBtn, .button, .mobBtn {
  background-color: #141c25;
  width: 100%;
  padding: 0.44em;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #dadada;
  border: 2px solid rgba(218, 218, 218, 0);
  margin-bottom: 0;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 219, ../scss/custom.scss */
.modalBtn:hover, .button:hover, .mobBtn:hover {
  background-color: #22313F;
  border: 2px solid #dadada;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 224, ../scss/custom.scss */
.modalBtn:focus, .button:focus, .mobBtn:focus {
  background-color: #141c25;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/* line 230, ../scss/custom.scss */
.button {
  background-color: #a5a6a7;
  border: 2px solid rgba(165, 166, 167, 0);
  color: #22313F;
}
/* line 235, ../scss/custom.scss */
.button:hover {
  background-color: #22313F;
  border: 2px solid #a5a6a7;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 240, ../scss/custom.scss */
.button:focus {
  background-color: #22313F;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/* line 246, ../scss/custom.scss */
.mobBtn {
  margin-top: 0;
  padding: 1em;
  background-color: rgba(218, 218, 218, 0.5);
  border: none;
  color: #22313F;
}
/* line 253, ../scss/custom.scss */
.mobBtn:hover {
  cursor: pointer;
  color: #dadada;
  background-color: #22313F;
  border: none;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 260, ../scss/custom.scss */
.mobBtn:focus {
  background-color: #22313F;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 264, ../scss/custom.scss */
.mobBtn p {
  font-size: 35px;
}

/* line 269, ../scss/custom.scss */
.topNumber {
  position: absolute;
  width: 320px;
  top: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 99999;
}
/* line 277, ../scss/custom.scss */
.topNumber h3 {
  text-align: center;
}
/* line 280, ../scss/custom.scss */
.topNumber a {
  color: #a5a6a7;
  font-size: 40px;
  font-weight: 900;
}

/* line 287, ../scss/custom.scss */
.social {
  position: fixed;
  width: 320px;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99999;
}

/* line 298, ../scss/custom.scss */
.socialBot [class^="flaticon-"], .socialBot [class*=" flaticon-"],
.socialBot [class^="flaticon-"], .socialBot [class*=" flaticon-"] {
  font-family: Flaticon;
  color: #dadada;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 306, ../scss/custom.scss */
.socialBot [class^="flaticon-"]:hover, .socialBot [class*=" flaticon-"]:hover,
.socialBot [class^="flaticon-"]:hover, .socialBot [class*=" flaticon-"]:hover {
  color: #676767;
}

/* line 312, ../scss/custom.scss */
.portSites {
  margin-bottom: 150px;
  width: 100%;
}

/* line 317, ../scss/custom.scss */
.about {
  margin: 75px 0;
}

/* line 321, ../scss/custom.scss */
.menu {
  height: 65px;
  width: 100%;
  z-index: 98;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: #22313F;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 333, ../scss/custom.scss */
.menuOpen {
  background: url(../img/menuSub.svg) 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 45px;
  height: 45px;
}
/* line 338, ../scss/custom.scss */
.menuOpen:hover {
  cursor: pointer;
}

/* line 343, ../scss/custom.scss */
.grid {
  width: 100%;
  margin: 20px 0;
}
/* line 346, ../scss/custom.scss */
.grid .module {
  float: left;
  width: 25%;
  padding: 2px;
  opacity: 0;
}
/* line 351, ../scss/custom.scss */
.grid .module.already-visible {
  opacity: 1;
}
/* line 354, ../scss/custom.scss */
.grid .module img {
  width: 100%;
}

/* line 360, ../scss/custom.scss */
.fancybox-lock .fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999;
}

/* line 365, ../scss/custom.scss */
.fancybox-opened {
  z-index: 999999;
}

/* line 369, ../scss/custom.scss */
.fancybox-skin {
  background: rgba(255, 255, 255, 0);
}

/* line 373, ../scss/custom.scss */
.fancybox-nav {
  width: 200px;
}
/* line 375, ../scss/custom.scss */
.fancybox-nav span {
  width: 56px;
  height: 175px;
  margin-top: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 383, ../scss/custom.scss */
.fancybox-next span {
  background: url("../img/next.svg") center center no-repeat;
}

/* line 387, ../scss/custom.scss */
.fancybox-prev span {
  background: url("../img/back.svg") center center no-repeat;
}

/* line 391, ../scss/custom.scss */
.mobileMenu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  min-height: 100%;
  background-color: #22313F;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 403, ../scss/custom.scss */
.close {
  padding: 15px 15px 0 15px;
}
/* line 405, ../scss/custom.scss */
.close h1 {
  display: inline-block;
  line-height: 0.8em;
}

/* line 411, ../scss/custom.scss */
.closeBtn {
  display: inline;
  cursor: pointer;
  margin-top: 10px;
  float: right;
  width: 35px;
  height: 35px;
  background: url(../img/close.svg) 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 423, ../scss/custom.scss */
.menu h1 {
  line-height: 0.5em;
}
/* line 426, ../scss/custom.scss */
.menu a {
  letter-spacing: 1px;
  color: #dadada;
  font-weight: bold;
}
/* line 432, ../scss/custom.scss */
.menu .active a {
  padding: 0 10px;
  border-left: 2px solid #dadada;
  border-right: 2px solid #dadada;
}

/* line 440, ../scss/custom.scss */
.menuActive {
  left: 0;
}

/* line 448, ../scss/custom.scss */
.port-hide {
  visibility: hidden;
}

/* line 452, ../scss/custom.scss */
.company {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 70px;
  left: 0;
  font-size: 1.15rem;
}
/* line 460, ../scss/custom.scss */
.company h4 {
  word-spacing: 0;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

/* line 467, ../scss/custom.scss */
#portClose {
  display: none;
}

/* line 471, ../scss/custom.scss */
.portBtn {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 23px;
  padding: 10px;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
/* line 479, ../scss/custom.scss */
.portBtn.portClose {
  bottom: 0;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
/* line 483, ../scss/custom.scss */
.portBtn h3 {
  position: relative;
  width: 225px;
  top: -10px;
  display: inline;
  color: #a5a6a7;
  padding-left: 10px;
  font-family: "Droid Sans", sans-serif;
  word-spacing: 0;
}

/* line 495, ../scss/custom.scss */
.content {
  margin: 10px;
}
/* line 497, ../scss/custom.scss */
.content h1 {
  font-family: "Merienda One", cursive;
  text-transform: uppercase;
  word-spacing: -0.30rem;
}

/* line 504, ../scss/custom.scss */
.intro {
  position: fixed;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #22313F;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 518, ../scss/custom.scss */
.container--open .intro {
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
  transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
}

/* line 523, ../scss/custom.scss */
.intro__image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto;
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  background: url("../img/mobile_bg.jpg") center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 542, ../scss/custom.scss */
.container--open .intro__image {
  opacity: 0.3;
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
}

/* line 548, ../scss/custom.scss */
.intro__content {
  position: relative;
  padding: 20px;
  min-height: 100%;
  height: 100%;
}

/* line 555, ../scss/custom.scss */
.intro__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: "Merienda One", cursive;
  color: #a5a6a7;
}

/* line 564, ../scss/custom.scss */
.intro_sub {
  color: #a5a6a7;
}

/* line 568, ../scss/custom.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 9999999;
  display: none;
  background: rgba(20, 28, 37, 0.9);
}

/* line 580, ../scss/custom.scss */
.reveal-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(20, 28, 37, 0.9);
}

/* line 587, ../scss/custom.scss */
.reveal-modal {
  background-color: #22313F;
  border: 4px solid #141c25;
}

/* line 592, ../scss/custom.scss */
.close-reveal-modal {
  top: -0.01rem !important;
  right: 1.2rem !important;
}

/* line 597, ../scss/custom.scss */
.trigger {
  display: inline;
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
}

/* line 612, ../scss/custom.scss */
.icon rect,
.icon line {
  stroke: #dbdbdb;
  fill: none;
  stroke-width: 10px;
}

/* line 618, ../scss/custom.scss */
.icon rect {
  stroke-width: 2px;
}

/* line 622, ../scss/custom.scss */
.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
/* line 627, ../scss/custom.scss */
.icon:hover {
  cursor: pointer;
}

/* line 632, ../scss/custom.scss */
.icon--cross,
.trigger--active .icon--grid {
  padding: 0 0 0 20px;
  opacity: 0;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 640, ../scss/custom.scss */
.trigger--active .icon--cross {
  opacity: 1;
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

/* line 646, ../scss/custom.scss */
.portWrap {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 125px 0 0;
}

/* line 655, ../scss/custom.scss */
.portWrap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22313F;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  pointer-events: none;
}

/* line 671, ../scss/custom.scss */
.container--open .portWrap::after {
  opacity: 0;
}

/* line 675, ../scss/custom.scss */
.sites {
  opacity: 0;
}

/* line 679, ../scss/custom.scss */
.graphics {
  opacity: 0;
}

/* line 683, ../scss/custom.scss */
.photos {
  opacity: 0;
}

/* line 687, ../scss/custom.scss */
.links {
  padding-left: 15px;
}

/* line 692, ../scss/custom.scss */
.mobileMenu a {
  font-family: "Merienda One", cursive;
  display: block;
  word-spacing: -0.40rem;
  font-size: 2.75em;
  width: 100%;
  color: #dadada;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 700, ../scss/custom.scss */
.mobileMenu a:hover {
  color: #141c25;
}

/* line 706, ../scss/custom.scss */
.item {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 708, ../scss/custom.scss */
.item:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

/* line 714, ../scss/custom.scss */
.come-in {
  transform: translateY(300%);
  animation: come-in 0.8s ease forwards;
}

/* line 718, ../scss/custom.scss */
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
  /* So they look staggered */
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
/* line 726, ../scss/custom.scss */
.modal {
  position: fixed;
  top: 50% !important;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
/* line 733, ../scss/custom.scss */
.modal h2 {
  margin-top: 40px;
}
/* line 736, ../scss/custom.scss */
.modal p {
  font-size: 1.1em;
}
/* line 739, ../scss/custom.scss */
.modal a {
  color: #dadada;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
/* line 742, ../scss/custom.scss */
.modal a:hover {
  color: #10171e;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
/* line 747, ../scss/custom.scss */
.modal .icon1, .modal .da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon2, .da-thumbs li .linkWrap div.moduleNfo .iconWrap .modal .icon2 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  background: url(../img/link.png) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 757, ../scss/custom.scss */
.modal .icon1 a, .modal .da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon2 a, .da-thumbs li .linkWrap div.moduleNfo .iconWrap .modal .icon2 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 763, ../scss/custom.scss */
.modal .close-reveal-modal {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  text-align: center;
  width: 40px;
  height: 40px;
  background: url(../img/close.png) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 776, ../scss/custom.scss */
.da-thumbs {
  list-style: none;
  position: relative;
  margin: 20px auto;
  padding: 0;
}

/* line 784, ../scss/custom.scss */
.da-thumbs li.module {
  float: left;
  position: relative;
  opacity: 0;
  width: 100%;
  padding: 20px 0;
}
/* line 790, ../scss/custom.scss */
.da-thumbs li.module.already-visible {
  opacity: 1;
}

/* line 794, ../scss/custom.scss */
.da-thumbs li .linkWrap,
.da-thumbs li .linkWrap img {
  position: relative;
}

/* line 799, ../scss/custom.scss */
.da-thumbs li .linkWrap {
  overflow: hidden;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* line 803, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo {
  position: absolute;
  background: #333;
  background: rgba(34, 49, 63, 0.9);
  width: 100%;
  height: 100%;
}
/* line 809, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}
/* line 816, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap a {
  width: 50%;
  float: left;
  height: 100%;
  padding: 0 10px 20px 20px;
}
/* line 821, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap a:last-child {
  padding: 0 20px 20px 10px;
}
/* line 825, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon1, .da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon2 {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  text-align: center;
}
/* line 833, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon1:hover, .da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon2:hover {
  background-color: #22313f;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  -moz-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
}
/* line 838, ../scss/custom.scss */
.da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon1 a, .da-thumbs li .linkWrap div.moduleNfo .iconWrap .icon2 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 851, ../scss/custom.scss */
.da-thumbs li .linkWrap div span {
  display: block;
  font-weight: normal;
  color: white;
}
/* line 855, ../scss/custom.scss */
.da-thumbs li .linkWrap div span h2 {
  text-align: center;
  padding-top: 8px;
  margin-bottom: 0;
}
/* line 860, ../scss/custom.scss */
.da-thumbs li .linkWrap div span h6 {
  text-align: center;
  margin-top: 0;
}

/*##################################################
################# contact menu  ##################*/
/* line 868, ../scss/custom.scss */
.contact-form {
  position: fixed;
  top: 25%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 99999999;
  background-color: #22313F;
  border: solid 1px #22313F;
  padding: 0 12px 12px 12px;
  width: 320px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 882, ../scss/custom.scss */
#contClose {
  padding: 15px 0;
}
/* line 884, ../scss/custom.scss */
#contClose img {
  width: 25px;
  height: 25px;
}
/* line 888, ../scss/custom.scss */
#contClose:hover {
  cursor: pointer;
}

/* line 893, ../scss/custom.scss */
#contact:hover {
  cursor: pointer;
}

/* line 898, ../scss/custom.scss */
.cont-sites p {
  margin: 0;
}

/* line 903, ../scss/custom.scss */
h3.number {
  font-size: 30px;
  text-align: center;
  word-spacing: 0;
}
/* line 907, ../scss/custom.scss */
h3.number a {
  color: #dadada;
}

/* line 914, ../scss/custom.scss */
h1.number {
  font-size: 40px;
  text-align: right;
  word-spacing: 0;
}
/* line 918, ../scss/custom.scss */
h1.number a {
  color: #dadada;
}

/*########################################################################
Medium Screen Size
########################################################################*/
@media only screen and (min-width: 40.063em) {
  /* line 930, ../scss/custom.scss */
  .company {
    width: auto;
    text-align: left;
    padding: 20px 20px 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.15rem;
  }

  /* line 939, ../scss/custom.scss */
  .intro__image {
    background: url("../img/bg.jpg") center center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* line 944, ../scss/custom.scss */
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* line 950, ../scss/custom.scss */
  blockquote cite {
    font-size: 1.8rem;
  }
  /* line 953, ../scss/custom.scss */
  blockquote p {
    font-size: 35px;
  }

  /* line 957, ../scss/custom.scss */
  .headImg {
    background: url(../img/midbg.jpg) right center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* line 962, ../scss/custom.scss */
  .topNumber {
    top: 0;
    right: auto;
    left: 10px;
    margin: 0;
  }
  /* line 967, ../scss/custom.scss */
  .topNumber h3 {
    text-align: left;
  }

  /* line 972, ../scss/custom.scss */
  .social {
    top: 10px;
    left: auto;
    right: 10px;
    margin: 0;
  }

  /* line 979, ../scss/custom.scss */
  .copy {
    padding-top: 15px;
  }

  /* line 983, ../scss/custom.scss */
  .portWrap {
    padding: 200px 0 0;
  }

  /* line 986, ../scss/custom.scss */
  .da-thumbs li.module {
    padding: 0.938rem;
    width: 50%;
  }

  /* line 991, ../scss/custom.scss */
  .modal p {
    font-size: 1.2em;
  }

  /* line 995, ../scss/custom.scss */
  .mobBtn {
    margin-top: 20px;
  }

  /* line 999, ../scss/custom.scss */
  .techGrid {
    margin-top: 0;
  }

  /* line 1003, ../scss/custom.scss */
  h1.myNfo {
    margin: 0;
    font-size: 40px;
    text-align: left;
  }

  /* line 1009, ../scss/custom.scss */
  .itemWrap {
    position: relative;
    width: 33.3333%;
    padding: 15px;
  }

  /* line 1015, ../scss/custom.scss */
  .container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 150px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 150px, 0);
  }

  /* line 1020, ../scss/custom.scss */
  .portBtn {
    width: auto;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    right: 23px;
    text-align: right;
    -moz-transition: all, ease 0.4s;
    -o-transition: all, ease 0.4s;
    -webkit-transition: all, ease 0.4s;
    transition: all, ease 0.4s;
  }
  /* line 1028, ../scss/custom.scss */
  .portBtn.portClose {
    bottom: 0;
    -moz-transition: all, ease 0.4s;
    -o-transition: all, ease 0.4s;
    -webkit-transition: all, ease 0.4s;
    transition: all, ease 0.4s;
  }
  /* line 1032, ../scss/custom.scss */
  .portBtn.portBtnOpen {
    right: -235px;
  }
}
/*########################################################################
Mid-Medium Screen Size
########################################################################*/
@media only screen and (max-width: 54.188em) {
  /* line 1045, ../scss/custom.scss */
  .company {
    width: 100%;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 70px;
    left: 0;
    font-size: 1.15rem;
  }

  /* line 1055, ../scss/custom.scss */
  .container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
  }

  /* line 1060, ../scss/custom.scss */
  .portBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 23px;
    padding: 10px;
  }
}
/*########################################################################
large Screen Size
########################################################################*/
@media only screen and (min-width: 75em) {
  /* line 1077, ../scss/custom.scss */
  .da-thumbs li.module {
    width: 33.333%;
  }

  /* line 1082, ../scss/custom.scss */
  .modal p {
    font-size: 1.5em;
  }

  /* line 1087, ../scss/custom.scss */
  .copy {
    padding-top: 25px;
  }

  /* line 1092, ../scss/custom.scss */
  blockquote cite {
    font-size: 2.2rem;
  }
  /* line 1095, ../scss/custom.scss */
  blockquote p {
    font-size: 50px;
  }

  /* line 1100, ../scss/custom.scss */
  .techGrid {
    margin-top: 0;
  }
}
