@charset "UTF-8";
@import url("padding.css");
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,900italic);
@font-face {
  font-family: 'bebas_neueregular';
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebasneue_regular-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neuelight';
  src: url("../fonts/bebasneue_light-webfont.eot");
  src: url("../fonts/bebasneue_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_light-webfont.woff2") format("woff2"), url("../fonts/bebasneue_light-webfont.woff") format("woff"), url("../fonts/bebasneue_light-webfont.ttf") format("truetype"), url("../fonts/bebasneue_light-webfont.svg#bebas_neuelight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../scss/custom.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/custom.scss */
.clearfix::before, .clearfix::after {
  display: table;
  content: '';
}

/* line 10, ../scss/custom.scss */
.clearfix::after {
  clear: both;
}

/* line 20, ../scss/custom.scss */
body {
  background: #22313F;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Droid Sans", sans-serif;
  overflow-x: hidden;
}

/* line 29, ../scss/custom.scss */
[class^="flaticon-"], [class*=" flaticon-"],
[class^="flaticon-"], [class*=" flaticon-"] {
  font-family: Flaticon;
  color: #a5a6a7;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 37, ../scss/custom.scss */
[class^="flaticon-"]:hover, [class*=" flaticon-"]:hover,
[class^="flaticon-"]:hover, [class*=" flaticon-"]:hover {
  color: #22313F;
}

/* line 42, ../scss/custom.scss */
.flaticon-email21:before {
  content: "\e000";
}

/* line 46, ../scss/custom.scss */
.flaticon-github17:before {
  content: "\e001";
}

/* line 50, ../scss/custom.scss */
.flaticon-google1:before {
  content: "\e002";
}

/* line 54, ../scss/custom.scss */
.flaticon-linkedin11:before {
  content: "\e003";
}

/* line 58, ../scss/custom.scss */
.row {
  max-width: 75.000em;
}

/* line 62, ../scss/custom.scss */
p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* line 67, ../scss/custom.scss */
a {
  color: #22313F;
  text-decoration: none;
}

/* line 73, ../scss/custom.scss */
.modalBtn p, .button p, .mobBtn p {
  display: inline;
}

/* line 79, ../scss/custom.scss */
button:hover {
  background-color: rgba(255, 255, 255, 0);
}
/* line 82, ../scss/custom.scss */
button:active {
  background-color: rgba(255, 255, 255, 0);
}
/* line 85, ../scss/custom.scss */
button:focus {
  background-color: rgba(255, 255, 255, 0);
}

/* line 90, ../scss/custom.scss */
.midBack {
  position: relative;
  height: 600px;
}

/* line 95, ../scss/custom.scss */
.headImg {
  height: 800px;
  width: 100%;
  background: url(../img/midbg_mob.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 102, ../scss/custom.scss */
.midNfo {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 108, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li {
  padding: 0 0.625rem 1rem;
}
/* line 110, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li:nth-of-type(odd) {
  padding: 0 0 1rem 0.625rem;
}
/* line 113, ../scss/custom.scss */
.mobGrid[class*="block-grid-"] > li:nth-of-type(even) {
  padding: 0 0.625rem 1rem 0;
}
/* line 117, ../scss/custom.scss */
.mobGrid p {
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* line 124, ../scss/custom.scss */
.techGrid[class*="block-grid-"] > li {
  padding: 0 0.625rem 0;
}

/* line 128, ../scss/custom.scss */
footer {
  min-height: 500px;
}

/* line 132, ../scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  word-spacing: -0.40rem;
  letter-spacing: 2px;
  color: #dadada;
  font-family: "bebas_neuelight", sans-serif;
  font-weight: bold;
}

/* line 141, ../scss/custom.scss */
blockquote {
  border-left: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 50px;
}
/* line 147, ../scss/custom.scss */
blockquote cite {
  font-size: 1.3rem;
  color: #a5a6a7;
  text-align: center;
}
/* line 152, ../scss/custom.scss */
blockquote p {
  text-align: center;
  margin-bottom: 0;
  color: #dadada;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}
/* line 160, ../scss/custom.scss */
blockquote p:before {
  color: #19242e;
  font-family: "Playfair Display", serif;
  content: open-quote;
  font-style: italic;
  font-size: 4em;
  line-height: 0;
  margin-right: 0.1em;
  vertical-align: -0.45em;
}
/* line 170, ../scss/custom.scss */
blockquote p:after {
  color: #19242e;
  font-family: "Playfair Display", serif;
  content: close-quote;
  font-size: 4em;
  font-style: italic;
  line-height: 0;
  vertical-align: -0.5em;
}

/* line 182, ../scss/custom.scss */
.modalBtn, .button, .mobBtn {
  background-color: #141c25;
  width: 100%;
  padding: 0.44em;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #dadada;
  border: 2px solid rgba(218, 218, 218, 0);
  margin-bottom: 0;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 193, ../scss/custom.scss */
.modalBtn:hover, .button:hover, .mobBtn:hover {
  background-color: #22313F;
  border: 2px solid #dadada;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 198, ../scss/custom.scss */
.modalBtn:focus, .button:focus, .mobBtn:focus {
  background-color: #141c25;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/* line 204, ../scss/custom.scss */
.button {
  background-color: #a5a6a7;
  border: 2px solid rgba(165, 166, 167, 0);
  color: #22313F;
}
/* line 209, ../scss/custom.scss */
.button:hover {
  background-color: #22313F;
  border: 2px solid #a5a6a7;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 214, ../scss/custom.scss */
.button:focus {
  background-color: #22313F;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/* line 220, ../scss/custom.scss */
.mobBtn {
  margin-top: 0;
  padding: 1em;
  background-color: rgba(218, 218, 218, 0.5);
  border: none;
  color: #22313F;
}
/* line 227, ../scss/custom.scss */
.mobBtn:hover {
  cursor: pointer;
  color: #dadada;
  background-color: #22313F;
  border: none;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 234, ../scss/custom.scss */
.mobBtn:focus {
  background-color: #22313F;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 238, ../scss/custom.scss */
.mobBtn p {
  font-size: 35px;
}

/* line 243, ../scss/custom.scss */
.topNumber {
  position: absolute;
  width: 320px;
  top: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 99999;
}
/* line 251, ../scss/custom.scss */
.topNumber h3 {
  text-align: center;
}
/* line 254, ../scss/custom.scss */
.topNumber a {
  color: #a5a6a7;
  font-size: 40px;
  font-weight: 900;
}

/* line 261, ../scss/custom.scss */
.social {
  position: absolute;
  width: 320px;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99999;
}

/* line 272, ../scss/custom.scss */
.socialBot [class^="flaticon-"], .socialBot [class*=" flaticon-"],
.socialBot [class^="flaticon-"], .socialBot [class*=" flaticon-"] {
  font-family: Flaticon;
  color: #dadada;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 280, ../scss/custom.scss */
.socialBot [class^="flaticon-"]:hover, .socialBot [class*=" flaticon-"]:hover,
.socialBot [class^="flaticon-"]:hover, .socialBot [class*=" flaticon-"]:hover {
  color: #676767;
}

/* line 286, ../scss/custom.scss */
.about {
  margin-bottom: 60px;
}

/* line 290, ../scss/custom.scss */
.menu {
  height: 65px;
  width: 100%;
  z-index: 98;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: #22313F;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 302, ../scss/custom.scss */
.menuOpen {
  background: url(../img/menuSub.svg) 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 45px;
  height: 45px;
}
/* line 307, ../scss/custom.scss */
.menuOpen:hover {
  cursor: pointer;
}

/* line 312, ../scss/custom.scss */
.mobileMenu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  min-height: 100%;
  background-color: #22313F;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* line 323, ../scss/custom.scss */
.close {
  padding: 15px 15px 0 15px;
}
/* line 325, ../scss/custom.scss */
.close h1 {
  display: inline-block;
  line-height: 0.8em;
}

/* line 331, ../scss/custom.scss */
.closeBtn {
  display: inline;
  cursor: pointer;
  margin-top: 10px;
  float: right;
  width: 35px;
  height: 35px;
  background: url(../img/close.svg) 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 343, ../scss/custom.scss */
.menu h1 {
  line-height: 0.5em;
}
/* line 346, ../scss/custom.scss */
.menu a {
  letter-spacing: 1px;
  color: #dadada;
  font-weight: bold;
}
/* line 352, ../scss/custom.scss */
.menu .active a {
  padding: 0 10px;
  border-left: 2px solid #dadada;
  border-right: 2px solid #dadada;
}

/* line 360, ../scss/custom.scss */
.menuActive {
  left: 0;
}

/* line 364, ../scss/custom.scss */
.boldWord {
  font-family: 'bebas_neueregular';
}

/* line 368, ../scss/custom.scss */
.port-hide {
  visibility: hidden;
}

/* line 372, ../scss/custom.scss */
.company {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 70px;
  left: 0;
  font-size: 1.15rem;
}
/* line 380, ../scss/custom.scss */
.company h4 {
  word-spacing: 0;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

/* line 388, ../scss/custom.scss */
.portBtn {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  padding: 10px;
}
/* line 395, ../scss/custom.scss */
.portBtn h3 {
  position: relative;
  width: 225px;
  top: -10px;
  display: inline;
  color: #a5a6a7;
  padding-left: 10px;
  font-family: "Droid Sans", sans-serif;
  word-spacing: 0;
}

/* line 407, ../scss/custom.scss */
.content {
  margin: 10px;
}
/* line 409, ../scss/custom.scss */
.content h1 {
  font-family: "bebas_neuelight", sans-serif;
  text-transform: uppercase;
  word-spacing: -0.30rem;
}

/* line 416, ../scss/custom.scss */
.intro {
  position: fixed;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #22313F;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 430, ../scss/custom.scss */
.container--open .intro {
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
  transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
}

/* line 435, ../scss/custom.scss */
.intro__image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto;
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  background: url("../img/mobile_bg.jpg") center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 454, ../scss/custom.scss */
.container--open .intro__image {
  opacity: 0.3;
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
}

/* line 460, ../scss/custom.scss */
.intro__content {
  position: relative;
  padding: 20px;
  min-height: 100%;
  height: 100%;
}

/* line 467, ../scss/custom.scss */
.intro__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: "bebas_neuelight", sans-serif;
  line-height: 1;
  color: #a5a6a7;
}

/* line 477, ../scss/custom.scss */
.intro_sub {
  color: #a5a6a7;
}

/* line 480, ../scss/custom.scss */
.reveal-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(20, 28, 37, 0.9);
}

/* line 487, ../scss/custom.scss */
.reveal-modal {
  background-color: #22313F;
  border: 4px solid #141c25;
}

/* line 492, ../scss/custom.scss */
.close-reveal-modal {
  top: -0.01rem !important;
  right: 1.2rem !important;
}

/* line 497, ../scss/custom.scss */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 503, ../scss/custom.scss */
.modal p {
  font-size: 1.1em;
}

/* line 508, ../scss/custom.scss */
.trigger {
  display: inline;
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
}

/* line 523, ../scss/custom.scss */
.icon rect,
.icon line {
  stroke: #dbdbdb;
  fill: none;
  stroke-width: 10px;
}

/* line 529, ../scss/custom.scss */
.icon rect {
  stroke-width: 2px;
}

/* line 533, ../scss/custom.scss */
.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
/* line 538, ../scss/custom.scss */
.icon:hover {
  cursor: pointer;
}

/* line 543, ../scss/custom.scss */
.icon--cross,
.trigger--active .icon--grid {
  padding: 0 0 0 20px;
  opacity: 0;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 551, ../scss/custom.scss */
.trigger--active .icon--cross {
  opacity: 1;
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

/* line 557, ../scss/custom.scss */
.portWrap {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 125px 0 0;
}

/* line 566, ../scss/custom.scss */
.portWrap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22313F;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  pointer-events: none;
}

/* line 582, ../scss/custom.scss */
.container--open .portWrap::after {
  opacity: 0;
}

/* line 586, ../scss/custom.scss */
.sites {
  opacity: 0;
}

/* line 590, ../scss/custom.scss */
.graphics {
  opacity: 0;
}

/* line 594, ../scss/custom.scss */
.photos {
  opacity: 0;
}

/* line 598, ../scss/custom.scss */
.links {
  padding-left: 15px;
}

/* line 603, ../scss/custom.scss */
.mobileMenu a {
  font-family: "bebas_neuelight", sans-serif;
  display: block;
  word-spacing: -0.40rem;
  font-size: 2.75em;
  width: 100%;
  color: #dadada;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 611, ../scss/custom.scss */
.mobileMenu a:hover {
  color: #141c25;
}

/* line 617, ../scss/custom.scss */
.item {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 619, ../scss/custom.scss */
.item:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

/* line 626, ../scss/custom.scss */
.module {
  width: 100%;
  position: relative;
  float: left;
  padding: 40px 0;
  overflow: hidden;
  opacity: 0;
}
/* line 633, ../scss/custom.scss */
.module:nth-child(odd) {
  margin-right: 0;
}
/* line 636, ../scss/custom.scss */
.module h2 {
  width: 100%;
  padding-top: 15x;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/* line 645, ../scss/custom.scss */
.already-visible {
  opacity: 1;
}

/*##################################################
################# contact menu  ##################*/
/* line 651, ../scss/custom.scss */
.contact-form {
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 997;
  background-color: #22313F;
  border: solid 1px #22313F;
  padding: 0 12px 12px 12px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 665, ../scss/custom.scss */
#contClose {
  padding: 15px 0;
}
/* line 667, ../scss/custom.scss */
#contClose img {
  width: 25px;
  height: 25px;
}
/* line 671, ../scss/custom.scss */
#contClose:hover {
  cursor: pointer;
}

/* line 676, ../scss/custom.scss */
#contact:hover {
  cursor: pointer;
}

/* line 681, ../scss/custom.scss */
.cont-sites p {
  margin: 0;
}

/* line 686, ../scss/custom.scss */
h3.number {
  font-size: 40px;
  text-align: center;
  word-spacing: 0;
}
/* line 690, ../scss/custom.scss */
h3.number a {
  color: #dadada;
}

/* line 697, ../scss/custom.scss */
h1.number {
  font-size: 40px;
  text-align: center;
  word-spacing: 0;
}
/* line 701, ../scss/custom.scss */
h1.number a {
  color: #dadada;
}

/*########################################################################
Medium Screen Size
########################################################################*/
@media only screen and (min-width: 40.063em) {
  /* line 713, ../scss/custom.scss */
  .company {
    width: auto;
    text-align: left;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.15rem;
  }

  /* line 722, ../scss/custom.scss */
  .intro__image {
    background: url("../img/bg.jpg") center center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* line 727, ../scss/custom.scss */
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* line 733, ../scss/custom.scss */
  blockquote cite {
    font-size: 1.8rem;
  }
  /* line 736, ../scss/custom.scss */
  blockquote p {
    font-size: 35px;
  }

  /* line 740, ../scss/custom.scss */
  .headImg {
    background: url(../img/midbg.jpg) right center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* line 745, ../scss/custom.scss */
  .topNumber {
    top: 0;
    right: auto;
    left: 10px;
    margin: 0;
  }
  /* line 750, ../scss/custom.scss */
  .topNumber h3 {
    text-align: left;
  }

  /* line 755, ../scss/custom.scss */
  .social {
    top: 10px;
    left: auto;
    right: 10px;
    margin: 0;
  }

  /* line 762, ../scss/custom.scss */
  .copy {
    padding-top: 15px;
  }

  /* line 766, ../scss/custom.scss */
  .portWrap {
    padding: 200px 0 0;
  }

  /* line 769, ../scss/custom.scss */
  .module {
    padding: 0.938rem;
    width: 50%;
  }

  /* line 774, ../scss/custom.scss */
  .modal p {
    font-size: 1.2em;
  }

  /* line 778, ../scss/custom.scss */
  .mobBtn {
    margin-top: 20px;
  }

  /* line 782, ../scss/custom.scss */
  .techGrid {
    margin-top: 40px;
  }

  /* line 786, ../scss/custom.scss */
  h1.myNfo {
    margin: 0;
    font-size: 40px;
  }

  /* line 791, ../scss/custom.scss */
  .itemWrap {
    position: relative;
    width: 33.3333%;
    padding: 15px;
  }

  /* line 797, ../scss/custom.scss */
  .container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 150px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 150px, 0);
  }

  /* line 802, ../scss/custom.scss */
  .portBtn {
    width: auto;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    right: 0;
    text-align: right;
    -moz-transition: right 0.7s ease;
    -o-transition: right 0.7s ease;
    -webkit-transition: right 0.7s ease;
    transition: right 0.7s ease;
  }
  /* line 810, ../scss/custom.scss */
  .portBtn.portBtnOpen {
    right: -235px;
  }
}
/*############################
Championship Photos
############################*/
/* line 820, ../scss/custom.scss */
.openWrap, .hawaiiWrap, .socalWrap, .actionWrap {
  background: url(../img/photos/opening.jpg) center center no-repeat;
  position: relative;
  height: 300px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 828, ../scss/custom.scss */
.hawaiiWrap {
  background: url(../img/photos/hawaii.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 835, ../scss/custom.scss */
.socalWrap {
  background: url(../img/photos/socal.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 841, ../scss/custom.scss */
.actionWrap {
  background: url(../img/photos/action.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 847, ../scss/custom.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 854, ../scss/custom.scss */
.overlay h1 {
  width: 100%;
  word-spacing: 0;
  letter-spacing: 0;
  color: #dadada;
  font-family: 'Playball', cursive;
  font-weight: 400;
  color: white;
  width: 100%;
  text-align: center;
  position: inherit;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 872, ../scss/custom.scss */
.equipment h4, .equipment h3 {
  word-spacing: 0;
  letter-spacing: 0;
  color: #dadada;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}
/* line 879, ../scss/custom.scss */
.equipment a {
  color: #c1c1c1;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 882, ../scss/custom.scss */
.equipment a:hover {
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
  color: #19242e;
}

/* line 889, ../scss/custom.scss */
a.photoLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

/* line 897, ../scss/custom.scss */
.footer {
  margin: 30px 0;
}
/* line 899, ../scss/custom.scss */
.footer h4 {
  word-spacing: 0;
  letter-spacing: 0;
  color: #dadada;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}
/* line 906, ../scss/custom.scss */
.footer a {
  color: #b4b4b4;
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
}
/* line 909, ../scss/custom.scss */
.footer a:hover {
  -moz-transition: color, 0.4s;
  -o-transition: color, 0.4s;
  -webkit-transition: color, 0.4s;
  transition: color, 0.4s;
  color: #070a0d;
}

/* line 916, ../scss/custom.scss */
.donateBtn {
  background-color: #dadada;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0.44em;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FF0000;
  border: 2px solid rgba(218, 218, 218, 0);
  margin-bottom: 0;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 929, ../scss/custom.scss */
.donateBtn:hover {
  background-color: #22313F;
  border: 2px solid #dadada;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
  cursor: pointer;
}
/* line 935, ../scss/custom.scss */
.donateBtn:focus {
  background-color: #141c25;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/* line 942, ../scss/custom.scss */
.champPhotos h1 {
  word-spacing: 0;
  letter-spacing: 0;
  color: #dadada;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
}

/* line 951, ../scss/custom.scss */
#donate {
  opacity: 0;
}

/* line 956, ../scss/custom.scss */
.donate p {
  color: #FF0000;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 962, ../scss/custom.scss */
#donate2 {
  opacity: 0;
}

/* line 967, ../scss/custom.scss */
.donate2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  cursor: pointer;
}
/* line 973, ../scss/custom.scss */
.donate2 .donateBtn {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 0.44em;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FF0000;
  border: 2px solid rgba(218, 218, 218, 0);
  margin-bottom: 0;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}
/* line 984, ../scss/custom.scss */
.donate2 .donateBtn:hover {
  background-color: #22313F;
  border: 2px solid #dadada;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
  cursor: pointer;
}
/* line 990, ../scss/custom.scss */
.donate2 .donateBtn:focus {
  background-color: #141c25;
  -moz-transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  transition: background-color, 0.4s;
}

/*########################################################################
Mid-Medium Screen Size
########################################################################*/
@media only screen and (max-width: 54.188em) {
  /* line 1003, ../scss/custom.scss */
  .company {
    width: 100%;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 70px;
    left: 0;
    font-size: 1.15rem;
  }

  /* line 1013, ../scss/custom.scss */
  .container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 75px, 0);
  }

  /* line 1018, ../scss/custom.scss */
  .portBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    padding: 10px;
  }
}
/*########################################################################
large Screen Size
########################################################################*/
@media only screen and (min-width: 62.5em) {
  /* line 1035, ../scss/custom.scss */
  .module {
    width: 33.333%;
  }

  /* line 1040, ../scss/custom.scss */
  .modal p {
    font-size: 1.5em;
  }

  /* line 1045, ../scss/custom.scss */
  .copy {
    padding-top: 25px;
  }

  /* line 1050, ../scss/custom.scss */
  blockquote cite {
    font-size: 2.2rem;
  }
  /* line 1053, ../scss/custom.scss */
  blockquote p {
    font-size: 50px;
  }

  /* line 1058, ../scss/custom.scss */
  .techGrid {
    margin-top: 0;
  }
}
